body {
    background: linear-gradient(to bottom right, #000000 , #916DB5);
}

.Cake {
  position: relative;
  left: 35%;
  top: 20px; }

.heading {
  position: relative;
  top: 25;
  left: 20%;
  width: 60%;
}

.btn {
  position: relative;
  top: 100;
  left: 27%;
}

.heading h1 {
  color: #FFFFFF;
  width: auto;
}

        /* enable absolute positioning */
        .Present-input { 
            position: relative;
            top: 130;
            left: 20%;
            width: 56%; }
        
        /* style icon */
        .fa {
          position: absolute;
          padding: 10px;
          pointer-events: none;  }

/* enable absolute positioning */
.inner-addon { 
    position: relative;
    top: 90;
    left: 20%;
    width: 56%;  }

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  10px; }
.right-addon input { padding-right: 10px; }